<div class="row">
  <div class="col-6 m-auto p-5">
    <div class="card m-auto">
      <div class="card-header ">
        
          <h1 class="fs-5">login</h1>
       

      </div>
      <div class="card-body">
        <form action="">
          <div class="form-group col-12">
            <label for="">Name</label>
            <input type="text" class="form-control"><br>
            <label for="">Password</label>
            <input type="text" class="form-control"><br>
          </div>
          <div class="form-group col-12">
            <button type="submit" class="btn btn-primary">login</button>
            <button type="button" class="btn btn-secndary ml-2">cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
